.cl-white {
  color: white;
}
.mg-bt-15px {
  margin-bottom: 15px;
}
.mg-50px {
  margin: 50px;
}
.f-s-75px {
  font-size: 75px;
}
.dp-flex {
  display: flex;
}
.f-drt-column {
  flex-direction: column;
}